

/*________________ VARIBLES________________ */
$max-width:720px;

/*@import "tab";


@media only screen and (max-width: $max-width) {
    @import "mobile";
}
@media only screen and (max-width: $max-width) {
    @import "hamburger";
}*/
$blue: #3f4f88;
$white:#fff;
$avenirl: AvenirLTStd-Book;
$grey:#4a4a4a;
@font-face {
    font-family: $avenirl;
    src: url('../font/AvenirLTStd-Book.otf');
}


.altText {display:none;}
.preLoadImg, .showOnLoad {display:none}

/*________________ Default Styles ___________________*/
.desktop{display:block}
.mobile{display:none}
/*$brown:#5a3b27;
$pink:#db4766;*/

/*$caveat:'Raleway', sans-serif;*//*'Yeseva One', cursive;/*'Oswald', sans-serif;/*'Caveat', cursive;*/
*
{
    margin:0px;
    padding:0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: auto;
    min-height: 100vh;
}
html,body
{
  /*  height:100%;*/
  /* overflow: overlay;*/
}
body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    position:relative;
	 /*remove bg from here */
    font-size: 100%;
    font: inherit;
    font-family: $avenirl;
}  

a
{
    text-decoration:none;
    outline:none;
	cursor:pointer;
	color: #767676;
}
a:hover,a:focus
{
    text-decoration:none;	
}
a * {
	cursor: pointer;
}

img
{
    border:none;
	vertical-align: middle;
    /*width:100%;*/
}
p
{
    margin:3px 0 3px 0;
}
ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

fieldset
{
    border:none;
    padding:0px;
    margin:0px;
}
label
{
    font-size:100%;
}
select,input
{
    color:#000;
	background-color: transparent;
}
form
{
   padding:0px;
   margin:0px;
}

.hidden
{
   text-indent: -999px;
   display: none;    
}

.clear
{
   clear: both;  
}

h1, h2, h3, h4, h5, h6
{
    margin: 0px;
    padding: 0px;
	font: inherit;
    position: relative;
}


h4 {
	font-size:18px;
}

.bullets li
{
    display:list-item;
    list-style-type:disc;
    margin:3px 0 0 15px;
    list-style-position:outside;
}

section {
    position: relative;
    word-wrap: break-word;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.inner-wrapper {
	padding:50px 0 0 0;
}*/
#outer-wrapper {
	width:100%;
	position:relative;
/*	background-color:red;*/
}

#header {
    /*position: relative;
    cursor: default;
    white-space: nowrap;*/
    position: fixed;

    left: 0;
    top: 0;
    display: table;
    width: 100%;
    padding: 0.5em 3%;
   /* padding: 0 2em;*/
   z-index: 1000;
    background:$blue;
    box-shadow: 0 0 1px 0 rgba(16, 16, 32, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.15);
    -moz-transition: top 0.25s ease-in-out;
    -webkit-transition: top 0.25s ease-in-out;
    -ms-transition: top 0.25s ease-in-out;
    transition: top 0.25s ease-in-out;
   /* font-size: 0.9em;*/
    cursor: default;
    /*min-height: 70px;*/
     max-height:70px;
    clear:both;
}

#header:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
/*for scrolling effect*/

#header.nav-up {
    top: -101px;
}

/*#header header{
    width: 92%;
    margin: 0 auto;
}*/
#header #logo {
    width:150px;
    float: left;
}
#header #logo img {
    width:100%;
}
#header #demo {
    float: right;
    padding: 1em 0;
}
#header #demo a {
     text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: $white;
    font-family: $avenirl;
}


/*section {
    
}*/
.container {
    background: $white;
    display: block;
    min-height: 100vh;
    padding: 8em 0 4em 0;
    position: relative;
    font-family: $avenirl;
    /*border-bottom: 1px solid #dce0e0;*/
    box-shadow: 0 4px 10px rgba(80, 80, 80, 0.39);
}
.container .wrapper {
    /*width:90%;*/
    width:80%;
    margin: 0 auto;
    /*background: red;*/
    position: relative;
}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.wrapper .block {
    width:50%;
    float: left;
}
.wrapper .block:first-child {
    /*text-align: center;*/
}
.wrapper .block img {
    width:80%;
}
.wrapper .block h1 {
   /* padding-top: 3.3em;
    font-size: 2.5em;*/
    padding-top: 4.7em;
    font-size: 2em;
    font-weight: 800;
    font-family: $avenirl;
    color:rgba(107, 99, 99, 0.3);
    text-align: center;
    position: relative;
}

.wrapper .block h1:before {
    content: 'Skippo - No Wait';
    position: absolute;
    overflow: hidden;
    max-width: 10em;
    color:  $grey;
    white-space: nowrap;
    animation: loading 5s linear;
}

@keyframes loading {
    from { max-width: 0; }
}

.wrapper .block p span {
   font-weight: normal;
}  



.container .wrapper h2 {
    text-align: center;
    font-size: 1.75em;
    font-weight: 600;
    color:$grey;
    margin-bottom: 2em;
}
/*--rotate animation--*/
/*@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}
*/
/*--slider--*/
.slider {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /*padding-top: 2em;*/
   /*width: 85%;
   margin: 0 auto 4em auto;*/
}
.slider .bx-wrapper img {
    max-width: 100%;
    display: block;
    width: 25%;
}


.slider .bx-wrapper .bx-caption span {
    color: $grey;
    font-size: 16px;
    text-align: left;
    padding: 1em;
    max-width: 85%;
    letter-spacing: 1px;
    position: absolute;
    font-weight: 500;
    display: block;
    font-family: $avenirl;
    /* padding: .3em 1em; */
}
.slider .bx-wrapper .bx-caption {
    top: 12em;
    position: absolute;
    left: 32%;
    bottom: inherit;
   /* border-bottom: 5em solid rgba(102, 51, 153, 0.49);
    border-left: 0em solid transparent;
    border-right: 2.5em solid transparent;*/
   /* background: #666;*/
    /* background: transparent; */
    width: 100%;
}

.slider .controls {
    position: absolute;
    vertical-align: middle;
    text-align: center; 
    bottom: 20% !important;
    width: 100%;
}
.slider .controls .circle {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center; 
    position: absolute;
    z-index:0;
    display: inline-block;
}
.slider .controls .bxPrev.circle   {
    left:35px;
}
.slider .controls .bxNext.circle   {
    left:135px;
}
.slider .controls .bxNext.circle i {
    margin-left:11px;
}
.slider .controls .circle i {
    font-size: 35px;
    color: #fff;
    margin: -1px 8px 0 3px;
}

/*--cells--*/

.wrapper .row .cell {
    width:49%;
     margin-bottom: 2%;
    float: left;
}
.wrapper .row .cell:nth-child(2)  {
   float: right;

}